<p>FASZOM</p>
<p>
<button data-reflex="click->Counter#decrement">Decrement</button>
<button data-reflex="click->Counter#increment">Increment</button>
</p>
<p>
<h4 class="counter"><%= session[:counter] %></h4>

